<div class="footer">
  <small>
    <a href="#">startup_app</a>
    by Jaime Chen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</div>